body {
  background-color: #282c34;
  color: rgb(106, 101, 101);
  font-family: sans-serif;
  text-align: center;
  margin-top: 100px;
}

.moj-przycisk {
  background-color: #0b9ac1;
  color: black;
  padding: 15px 30px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.moj-przycisk:hover {
  background-color: #ac0a0a;
}